{
    "swagger": "2.0",
    "info": {
        "title": "Godam API",
        "description": "Godam API Documentation for integrating godam with other applications for performing operations related to warehouse management system like inbound/outbound!",
        "version": "v1"
    },
    "host": "qa2-godam.delhivery.com",
    "schemes": [
        "http"
    ],
    "basePath": "",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{language}/management/api/{version}/autocomplete/": {
            "get": {
                "summary": "Autocomplete API for multiple models",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "query to be autocompleted",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "description": "authorization",
                        "required": true,
                        "type": "string",
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "name": "model_name",
                        "in": "query",
                        "description": "name of the model for the autocompletion(FC/ST)",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "facility_num",
                        "in": "query",
                        "description": "name of the associated fulfillment center",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "client_store_id",
                        "in": "query",
                        "description": "for name of the associated supplier stores link with client store id",
                        "type": "string",
                        "required": false
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    }
                ],
                "tags": [
                    "Management"
                ],
                "responses": {
                    "default": {
                        "description": "Autocompletion fails !",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    },
                    "200": {
                        "description": "Autocomplete successful",
                        "schema": {
                            "$ref": "#/definitions/ApiResponsePass"
                        }
                    }
                }
            }
        },
        "/{language}/management/api/{version}/userpermissions/": {
            "get": {
                "summary": "retrieve user permission along with the fulifillment center and station validation",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "name": "fulfillment_center_sk",
                        "in": "query",
                        "description": "name of the fulfillment center associated with the user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "station",
                        "in": "query",
                        "description": "name of the activity station to be used by the user(QC/PACK)",
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "version of the requested API",
                        "type": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ]
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "default": {
                        "description": "Userpermissions cant be retrieved",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    },
                    "200": {
                        "description": "userpermission retrieved sucessfully",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{language}/api/password/change/": {
            "post": {
                "summary": "Change User Password",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "authorization",
                        "required": true,
                        "type": "string",
                        "name": "authorization",
                        "in": "header"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "post data",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ChangePassword"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Password changed successfully",
                        "schema": {
                            "$ref": "#/definitions/200ChangePassword"
                        }
                    },
                    "400": {
                        "description": "Unable to login / password incorrect",
                        "schema": {
                            "$ref": "#/definitions/400ChangePassword"
                        }
                    }
                }
            }
        },
        "/{language}/api-token-auth/": {
            "post": {
                "summary": "Get User Token",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "payload data",
                        "format": "string",
                        "required": true,
                        "in": "body",
                        "type": "string",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/TokenPayload"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Token Fetched successfully",
                        "schema": {
                            "$ref": "#/definitions/TokenResponse"
                        }
                    },
                    "403": {
                        "description": "Unable to login with provided credentials",
                        "schema": {
                            "$ref": "#/definitions/403Response"
                        }
                    }
                }
            }
        },
        "/{language}/api/password/recover/": {
            "post": {
                "summary": "API service to recover forgotten password",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "payload data",
                        "format": "string",
                        "required": true,
                        "in": "body",
                        "type": "string",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/PasswordRecoverSchema"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Recovery of password is successful",
                        "schema": {
                            "$ref": "#/definitions/PasswordRecoverResponse"
                        }
                    },
                    "default": {
                        "description": "Recovery of password fails",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{language}/layout/api/{version}/location/{location_name}/": {
            "get": {
                "summary": "API service for the details of the provided location detail",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Name of the location",
                        "name": "location_name",
                        "required": true,
                        "in": "path",
                        "type": "string"
                    },
                    {
                        "description": "Fulfillment Center Number",
                        "required": true,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    }
                ],
                "tags": [
                    "Layout"
                ],
                "responses": {
                    "default": {
                        "description": "Location is not valid",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    },
                    "412": {
                        "description": "Invalid Post Data, Pre conditions check fail !"
                    },
                    "403": {
                        "description": "Forbidden in case user not allowed to perform action!"
                    },
                    "500": {
                        "description": "In case of server error due to configuration problem or invalid request."
                    },
                    "200": {
                        "description": "Valid station",
                        "schema": {
                            "$ref": "#/definitions/LocationApiResponse"
                        }
                    }
                }
            }
        },
        "/{language}/layout/api/{version}/station/{station}/": {
            "get": {
                "summary": "API service for the details of the provided station",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Name of the station to be verified(QC/PACK)",
                        "name": "station",
                        "required": true,
                        "in": "path",
                        "type": "string"
                    },
                    {
                        "description": "Fulfillment Center Number",
                        "required": true,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    }
                ],
                "tags": [
                    "Layout"
                ],
                "responses": {
                    "default": {
                        "description": "Station is not valid",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    },
                    "200": {
                        "description": "Valid station",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{language}/api/password/reset/{token}/": {
            "post": {
                "summary": "API service to reset password",
                "parameters": [
                    {
                        "description": "Token received in the mail for password reset",
                        "type": "string",
                        "name": "token",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "payload data",
                        "type": "string",
                        "in": "body",
                        "name": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PasswordResetSchema"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "default": {
                        "description": "Password reset fails",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    },
                    "200": {
                        "description": "Successfully password changed",
                        "schema": {
                            "$ref": "#/definitions/ApiResponse"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/batches/": {
            "get": {
                "summary": "API service for batches listing",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Fulfillment mode",
                        "format": "string",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "name": "fulfillment_mode"
                    },
                    {
                        "description": "No of results on the page",
                        "format": "string",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "name": "paginate_by"
                    },
                    {
                        "description": "particular page you want to retrieve",
                        "format": "string",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "name": "page"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "start date of the date range filter(2012-02-03T20:22:22Z)",
                        "in": "query",
                        "format": "date-time",
                        "name": "start_date",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "end date of the date range filter(2012-02-03T20:22:22Z)",
                        "in": "query",
                        "format": "date-time",
                        "name": "end_date",
                        "type": "string",
                        "required": false
                    },
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Source of the ProcurementOrders",
                        "required": false,
                        "type": "string",
                        "name": "source",
                        "in": "query"
                    },
                    {
                        "description": "Source number of the ProcurementOrders",
                        "required": false,
                        "type": "string",
                        "name": "source_number",
                        "in": "query"
                    },
                    {
                        "description": "Batches of the particular AGN",
                        "required": false,
                        "type": "string",
                        "name": "agn_id",
                        "in": "query"
                    },
                    {
                        "description": "will exclude the batches of the status RPO",
                        "name": "eclude_rpo",
                        "enum": [
                            "true",
                            "false"
                        ],
                        "type": "boolean",
                        "in": "query"
                    },
                    {
                        "description": "will exclude the batches if the agn associated with them is expired",
                        "name": "exclude_expired",
                        "enum": [
                            "true",
                            "false"
                        ],
                        "type": "boolean",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "description": "Status of the ProcurementOrders",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "name": "status"
                    },
                    {
                        "description": "PO number",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "name": "po_number"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "200": {
                        "description": "PO List is retrieved",
                        "schema": {
                            "$ref": "#/definitions/PoListresponse"
                        }
                    },
                    "default": {
                        "description": "PO listing unsuccessful",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/agn/create/": {
            "post": {
                "summary": "API service to create agn and agn products. User should have 'agn create' and 'agn product create' permission",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Flow of execution (BS/CRS)",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "flow"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": true,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "Client Store sk/name",
                        "required": true,
                        "type": "string",
                        "name": "channel_id",
                        "in": "query"
                    },
                    {
                        "description": "Post Data",
                        "required": true,
                        "type": "string",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AGNCreateSchema"
                        }
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "412": {
                        "description": "Invalid Post Data, Pre conditions check fail !"
                    },
                    "403": {
                        "description": "Forbidden in case user not allowed to perform action!"
                    },
                    "200": {
                        "description": "ASN has been created",
                        "schema": {
                            "$ref": "#/definitions/ApiResponsePass"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/batch/{batch_number}/": {
            "get": {
                "summary": "API service for retrieving details of the PO",
                "parameters": [
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Status of the ProcurementOrders",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "name": "status"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Batch number",
                        "name": "batch_number",
                        "required": true,
                        "in": "path",
                        "type": "string"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "200": {
                        "description": "Details of the po fetched",
                        "schema": {
                            "$ref": "#/definitions/PoDetailResponse"
                        }
                    },
                    "default": {
                        "description": "Retriving of the details failed",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/ims/api/{version}/item/": {
            "get": {
                "summary": "API service for retrieving list of the Item",
                "parameters": [
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "client_store_sk",
                        "name": "client_store_sk",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "supplier_store_sk",
                        "name": "supplier_store_sk",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "product number of the item",
                        "name": "prod_number",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "product name of the item",
                        "name": "prod_name",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "serial number of the item",
                        "name": "serial",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "serial number for multiple serial number",
                        "name": "serial",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "location where the item is stocked",
                        "name": "layout_location",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "pick list id",
                        "name": "picklist_id",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "batch number to which the item is associated",
                        "name": "batch_number",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "asn source number to which the item is associated",
                        "name": "asn_number",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "start date of when item was last updated",
                        "name": "date_from",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "end date of when item was last updated",
                        "name": "date_to",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "status of the Item",
                        "name": "status",
                        "required": false,
                        "in": "query",
                        "type": "string"
                    }
                ],
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "List of the product fetched",
                        "schema": {
                            "$ref": "#/definitions/ItemDetailResponse"
                        }
                    },
                    "default": {
                        "description": "Unable to retrieve the list of products ",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/ims/api/{version}/item/{serial}/": {
            "get": {
                "summary": "API service for retrieving details of the Item. Only user with permission 'can scan item' can perform the action",
                "parameters": [
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "serial number of the item to be scanned",
                        "name": "serial",
                        "required": true,
                        "in": "path",
                        "type": "string"
                    },
                    {
                        "description": "sk of the product to which the item belong",
                        "name": "prod_sk",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "description": "flow of the item (FWD/COR)",
                        "name": "item_flow",
                        "in": "query",
                        "type": "string"
                    }
                ],
                "tags": [
                    "Item"
                ],
                "responses": {
                    "200": {
                        "description": "Details of the item of the given serial number fetched",
                        "schema": {
                            "$ref": "#/definitions/ItemDetailResponse"
                        }
                    },
                    "default": {
                        "description": "Unable to retrieve item information",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/ims/api/{version}/item/edit/{serial}": {
            "put": {
                "summary": "Api service for updating attributes of the item",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },{
			
                        "name": "fulfillment_center_num",
                        "in": "query",
                        "description": "name of the fulfillment center associated with the user",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "version",
                        "in": "path",
                        "description": "version of the requested API",
                        "type": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ]
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "flow",
                        "required": true,
                        "type": "string",
                        "name": "flow",
                        "in": "query"
                    },
                    {
                        "description": "serial number of the item to be updated",
                        "required": true,
                        "type": "string",
                        "name": "serial",
                        "in": "path"
                    },
                    {
                        "description": "payload data",
                        "format": "string",
                        "required": true,
                        "in": "body",
                        "type": "string",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ItemUpdatePayload"
                        }
                    }
                ],
		"tags": [
                   "Item"
                ],
		 "responses": {
                    "default": {
                        "description": "Unable to update item",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    },
                    "200": {
                        "description": "Item updated sucessfully",
                        "schema": {
                            "$ref": "#/definitions/ApiResponsePass"
                        }
                    }
                }
            }
        },
        "/{language}/pcm/api/{version}/product/{prod_sk}/": {
            "get": {
                "summary": "API service for retrieving details of the Product",
                "parameters": [
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Product sk",
                        "name": "prod_sk",
                        "required": true,
                        "in": "path",
                        "type": "string"
                    }
                ],
                "tags": [
                    "PCM"
                ],
                "responses": {
                    "200": {
                        "description": "Details of the product fetched",
                        "schema": {
                            "$ref": "#/definitions/ProductDetailResponseSchema"
                        }
                    },
                    "default": {
                        "description": "Unable to retrieve the product details",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/accept-batch/{batch_id}/": {
            "put": {
                "summary": "Api service for receiving batches and updating batch status",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Flow of execution (BS/CRS)",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "flow"
                    },
                    {
                        "description": "Activity Station",
                        "required": true,
                        "type": "string",
                        "name": "station",
                        "in": "query"
                    },
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "id of the patch to be received",
                        "required": true,
                        "type": "int32",
                        "name": "batch_id",
                        "in": "path"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully changed the status of the provided batch-id",
                        "schema": {
                            "$ref": "#/definitions/ApiResponsePass"
                        }
                    },
                    "default": {
                        "description": "unable to change the status of the provided batch-id",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/batch/create/": {
            "post": {
                "summary": "Api service for creating unexpected batch.User should have 'can generate po' to perform the action",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Flow of execution (BS/CRS)",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "flow"
                    },
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Post Data",
                        "required": true,
                        "type": "string",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/BatchCreateSchema"
                        }
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully created the unexpected batch",
                        "schema": {
                            "$ref": "#/definitions/UnexpectedBatchSchemaResponse"
                        }
                    },
                    "default": {
                        "description": "unable to create the unexpected batch",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/inbound/api/{version}/serialize/": {
            "post": {
                "summary": "API service to serialize received items of the Procurement Order. User should have 'po receive' permission",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Flow of execution (BS/CRS)",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "flow"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "Activity Station",
                        "required": false,
                        "type": "string",
                        "name": "station",
                        "in": "query"
                    },
                    {
                        "description": "In case profile is configuired as client/supplier/master channel and linked with multiple participants",
                        "required": false,
                        "type": "string",
                        "name": "access_key",
                        "in": "query"
                    },
                    {
                        "description": "Post Data",
                        "required": true,
                        "type": "string",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/POSerializeSchema"
                        }
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "tags": [
                    "Inbound"
                ],
                "responses": {
                    "412": {
                        "description": "Invalid Post Data, Pre conditions check fail !"
                    },
                    "403": {
                        "description": "Forbidden in case user not allowed to perform action!"
                    },
                    "200": {
                        "description": "Successfully serialized the received product",
                        "schema": {
                            "$ref": "#/definitions/ApiResponsePass"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/agn/": {
            "get": {
                "summary": "API to list agn according to filter params",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Fulfillment center number",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "fulfillment_center_num"
                    },
                    {
                        "description": "AGN Status",
                        "format": "string",
                        "in": "query",
                        "required": false,
                        "enum": [
                            "IP",
                            "EXP",
                            "CRT",
                            "GIN",
                            "CMP",
                            "CAN",
                            "EXR"
                        ],
                        "type": "string",
                        "name": "status"
                    },
                    {
                        "description": "Client SK",
                        "format": "string",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "name": "client_sk"
                    },
                    {
                        "description": "Supplier Store SK",
                        "format": "string",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "name": "supplier_store_sk"
                    },
                    {
                        "description": "Supplier SK",
                        "format": "string",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "name": "supplier_sk"
                    },
                    {
                        "description": "Client Store SK",
                        "format": "string",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "name": "client_store_sk"
                    },
                    {
                        "description": "start date of the date range filter(2012-02-03T20:22:22Z)",
                        "in": "query",
                        "format": "date-time",
                        "name": "start_date",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "description": "end date of the date range filter(2012-02-03T20:22:22Z)",
                        "in": "query",
                        "format": "date-time",
                        "name": "end_date",
                        "type": "string",
                        "required": false
                    },
                    {
                        "description": "Source number",
                        "format": "string",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "name": "source_number"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "412": {
                        "description": "Invalid Post Data, Pre conditions check fail !"
                    },
                    "403": {
                        "description": "Forbidden in case user not allowed to perform action!"
                    },
                    "200": {
                        "description": "successfully retrieved the list of agn",
                        "schema": {
                            "$ref": "#/definitions/AGNListApiResponse"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/agn/{agn_id}/": {
            "get": {
                "summary": "API to get details related to provided agn id",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "AGN id",
                        "format": "string",
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "agn_id"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Fulfillment center number",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "fulfillment_center_num"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "412": {
                        "description": "Invalid Post Data, Pre conditions check fail !"
                    },
                    "403": {
                        "description": "Forbidden in case user not allowed to perform action!"
                    },
                    "200": {
                        "description": "Successfully retrieved the details of the provided agn_id",
                        "schema": {
                            "$ref": "#/definitions/AGNDetailSchema"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/batch/complete/{po_id}/": {
            "post": {
                "summary": "API to complete batch after receiving items",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Flow of execution (BS/CRS)",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "flow"
                    },
                    {
                        "description": "batch id",
                        "format": "string",
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "po_id"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Fulfillment center number",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "fulfillment_center_num"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "200": {
                        "description": "successfully completed batch",
                        "schema": {
                            "$ref": "#/definitions/ApiResponsePass"
                        }
                    },
                    "default": {
                        "description": "unable to successfully complete batch",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/agn-products/{agn_id}/": {
            "get": {
                "summary": "API for fetching Products related to a AGN",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Fulfillment Center Number",
                        "required": true,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Query filter on product name/sku",
                        "required": true,
                        "type": "string",
                        "name": "query",
                        "in": "query"
                    },
                    {
                        "description": "AGN Id",
                        "required": true,
                        "type": "string",
                        "name": "agn_id",
                        "in": "path"
                    },
                    {
                        "description": "Page Number",
                        "required": false,
                        "type": "string",
                        "name": "page",
                        "in": "query"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "default": {
                        "description": " AGN Product Details API",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    },
                    "200": {
                        "description": "API Details Response",
                        "schema": {
                            "$ref": "#/definitions/PoProdApiResponse"
                        }
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/agn/cancel/{agn_id}/": {
            "put": {
                "summary": "API service for cancelling of agn. User having permission 'can cancel agn' can perform the action",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "In case profile is configuired as client/supplier/master channel and linked with multiple participants",
                        "required": false,
                        "type": "string",
                        "name": "access_key",
                        "in": "query"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Id of the AGN to be cancelled",
                        "name": "agn_id",
                        "in": "path",
                        "type": "integer",
                        "required": true
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "default": {
                        "description": "Agn cancellation failed",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    },
                    "200": {
                        "description": "Agn cancelled successfully",
                        "schema": {
                            "$ref": "#/definitions/ApiResponsePass"
                        }
                    }
                }
            }
        },
        "/{language}/inbound/api/{version}/receive/": {
            "post": {
                "summary": "API service to receive items of the Procurement Order. User should have 'po receive' permission",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Flow of execution (BS/CRS)",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "flow"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "FulfillmentCenter Access Key, Can be skipped in case user is tagged with single fc",
                        "required": false,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "Activity Station",
                        "required": false,
                        "type": "string",
                        "name": "station",
                        "in": "query"
                    },
                    {
                        "description": "In case profile is configuired as client/supplier/master channel and linked with multiple participants",
                        "required": false,
                        "type": "string",
                        "name": "access_key",
                        "in": "query"
                    },
                    {
                        "description": "Post Data",
                        "required": true,
                        "type": "string",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/POReceiveSchema"
                        }
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "tags": [
                    "Inbound"
                ],
                "responses": {
                    "412": {
                        "description": "Invalid Post Data, Pre conditions check fail !"
                    },
                    "403": {
                        "description": "Forbidden in case user not allowed to perform action!"
                    },
                    "200": {
                        "description": "Successfully PO Received",
                        "schema": {
                            "$ref": "#/definitions/ApiResponsePass"
                        }
                    }
                }
            }
        },
        "/{language}/management/api/{version}/userprofile/": {
            "get": {
                "summary": "API for retriving userprofile along with the FC'associated with the user",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "default": {
                        "description": "UserProfile retrieving failed",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    },
                    "200": {
                        "description": "UserProfile retrieving successful"
                    },
                    "schema": {
                        "$ref": "#/definitions/UserProfileResponse"
                    }
                }
            }
        },
        "/{language}/procurement/api/{version}/po-products/{batch_id}/": {
            "get": {
                "summary": "API for fetch po related po products",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "Fulfillment Center Number",
                        "required": true,
                        "type": "string",
                        "name": "fulfillment_center_num",
                        "in": "query"
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Query filter on product name/sku",
                        "required": true,
                        "type": "string",
                        "name": "query",
                        "in": "query"
                    },
                    {
                        "description": "Procurement Order Id",
                        "required": true,
                        "type": "string",
                        "name": "batch_id",
                        "in": "path"
                    },
                    {
                        "description": "Page Number",
                        "required": false,
                        "type": "string",
                        "name": "page",
                        "in": "query"
                    }
                ],
                "tags": [
                    "Procurement"
                ],
                "responses": {
                    "default": {
                        "description": "Procurement Order Products Details API",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    },
                    "200": {
                        "description": "API Details Response",
                        "schema": {
                            "$ref": "#/definitions/PoProdApiResponse"
                        }
                    }
                }
            }
        },
        "/{language}/api/auth/{version}/login/{backend}/": {
            "post": {
                "summary": "Get User Token using google provided access token",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Social Auth Backend",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "google-oauth2"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "backend"
                    },
                    {
                        "description": "Application ID/Name",
                        "format": "string",
                        "required": true,
                        "in": "header",
                        "type": "string",
                        "name": "APPLICATION"
                    },
                    {
                        "description": "data payload",
                        "format": "string",
                        "required": true,
                        "in": "body",
                        "type": "string",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/SocialAuthPayload"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Token Fetched successfully",
                        "schema": {
                            "$ref": "#/definitions/SocialAuthSuccessResponse"
                        }
                    },
                    "403": {
                        "description": "Unable to login with provided credentials",
                        "schema": {
                            "$ref": "#/definitions/403Response"
                        }
                    },
                    "400": {
                        "description": "Bad Request in case of missing informations!",
                        "schema": {
                            "$ref": "#/definitions/ApiResponseFail"
                        }
                    }
                }
            }
        },
        "/{language}/wms/api/{version}/print/barcode/": {
            "post": {
                "summary": "API end point to print barcodes for multiple content types",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/pdf",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Payload Data",
                        "format": "string",
                        "required": true,
                        "in": "body",
                        "type": "string",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/BarCodeAPIPayload"
                        }
                    }
                ],
                "tags": [
                    "Generic APIs"
                ],
                "responses": {
                    "200": {
                        "description": "Barcode generated successfully !"
                    }
                }
            }
        },
        "/{language}/api/device/{version}/login/": {
            "post": {
                "summary": "API endpoint to authenticate user against username and password from devices or other applications",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Application ID/Name",
                        "format": "string",
                        "required": true,
                        "in": "header",
                        "type": "string",
                        "name": "APPLICATION"
                    },
                    {
                        "description": "Payload Data",
                        "format": "string",
                        "required": true,
                        "in": "body",
                        "type": "string",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/GetTokenSchema"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "User logged in successfully",
                        "schema": {
                            "$ref": "#/definitions/DeviceLoginResponse"
                        }
                    }
                }
            }
        },
        "/{language}/fclkp/api/{version}/management-lookup/{id}/": {
            "get": {
                "summary": "API to get detials of management lookup with required id",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "management lookup id",
                        "format": "string",
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "id"
                    }
                ],
                "tags": [
                    "FCLKP"
                ],
                "responses": {
                    "412": {
                        "description": "Invalid Post Data, Pre conditions check fail !"
                    },
                    "403": {
                        "description": "Forbidden in case user not allowed to perform action!"
                    },
                    "400": {
                        "description": "When invalid id is being provided."
                    },
                    "200": {
                        "description": "Successfully retrieved the details of the provided management lookup",
                        "schema": {
                            "$ref": "#/definitions/ManagementLookUpSchema"
                        }
                    }
                }
            }
        },
        "/{language}/pcm/api/{version}/rules/": {
            "post": {
                "summary": "API to get list of rules with required parameters",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "en",
                            "ar",
                            "fr",
                            "it",
                            "es",
                            "sv"
                        ]
                    },
                    {
                        "description": "API Version",
                        "format": "string",
                        "required": true,
                        "enum": [
                            "v1"
                        ],
                        "in": "path",
                        "type": "string",
                        "name": "version"
                    },
                    {
                        "description": "Authorization",
                        "required": true,
                        "type": "string",
                        "name": "Authorization",
                        "in": "header"
                    },
                    {
                        "description": "Flow of execution (BS/CRS)",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "flow"
                    },
                    {
                        "description": "Fulfillment center number",
                        "format": "string",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "fulfillment_center_num"
                    },
                    {
                        "description": "Post Data",
                        "required": true,
                        "type": "string",
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/RuleFetchSchema"
                        }
                    }
                ],
                "tags": [
                    "PCM"
                ],
                "responses": {
                    "412": {
                        "description": "Invalid Post Data, Pre conditions check fail !"
                    },
                    "403": {
                        "description": "Forbidden in case user not allowed to perform action!"
                    },
                    "500": {
                        "description": "In case of server error due to configuration problem or invalid request."
                    },
                    "200": {
                        "description": "Successfully retrieved the details of the provided agn_id",
                        "schema": {
                            "$ref": "#/definitions/RuleListResponseSchema"
                        }
                    }
                }
            }
        },
        "/{language}/api/device/{version}/logout/": {
            "post": {
                "summary": "API endpoint to register user's logout state",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "description": "User Locale",
                        "required": true,
                        "type": "string",
                        "enum": [
[...]
